body {
    height: 100vh; /* Set the height of the body to the full viewport height */
    margin: 0; /* Remove default body margin */
    background: linear-gradient(to right, red, yellow); /* Set the linear gradient from red to yellow */
  }
  

  
/*Intro/Navbar css code*/
#img-size-position{
width: 390px;
height: 400px;
margin-top: 14%;
margin-left: 64%;
}

#img-size-position-2{
    width: 60px;
height: 75px;
}

.font-size{
    font-size: 24px;
}

.font-size-2{
    font-size: 68px;
}


.navbar-position{
    margin-right:35% ;
    
}

.name-position{
    margin-top: -25%;
margin-right: 45%;
}
.text_move{
 margin-top: -25%;
 margin-left: 45.5%;
 margin-bottom: 15%;
 /*I amd ethis class to move the text to a different area in the intro section */
}

.borderintro{
    border: black solid 1.8px;
}

/*Intro/Navbar css code*/

/*Claases/ids for cards*/
.Mostpopular-products{
    background-color: aliceblue;
    height: 700px;
    border-radius: 45px;
    padding-right: 99%;
    /*These cards are used to  move the cards*/
}

.card-mover{
    position: relative;
    bottom: 400px;
    left: 450px;
}

.card-mover-2{
    position: relative;
    bottom: 450px;
    left: 600px;
}
/*Claases/ids for cards*/


