body {
    height: 100vh; /* Set the height of the body to the full viewport height */
    margin: 0; /* Remove default body margin */
    background: linear-gradient(to right, red, yellow); /* Set the linear gradient from red to yellow */
    /*Linear graident used to add asethtic to the background*/
  }
  

  
/*Intro/Navbar css code*/
#img-size-position{
width: 390px;
height: 400px;
margin-top: 14%;
margin-left: 64%;
/*The img-size-position classes are used to change the size and postion*/

}

#img-size-position-2{
    width: 40px;
height: 55px;
/*The img-size-position classes are used to change the size and postion*/
}


#img-size-position-3{
    width: 40px;
height: 55px;
position: relative;
left: 1000px;
/*The img-size-position classes are used to change the size and postion*/
}


.font-size{
    font-size: 24px;
}

.font-size-2{
    font-size: 68px;
}


.navbar-position{
    margin-right:35% ;
    /*This will position the navabr*/
    
}

.name-position{
    margin-top: -25%;
margin-right: 45%;
}
.text_move{
 margin-top: -25%;
 margin-left: 45.5%;
 margin-bottom: 15%;
 /*I amd ethis class to move the text to a different area in the intro section */
}

.borderintro{
    border: black solid 1.8px;
    /*border that gets put around the buttons*/
}

/*Intro/Navbar css code*/

/*Claases/ids for cards*/
.Mostpopular-products{
    background-color: rgb(255, 255, 255);
    height: 700px;
    border-radius: 18px;


    /*These cards are used to  move the cards*/
}

.background{
    background-image:url("../images/Background.png") ;
    z-index:3;
   margin-top: 45%;
}

/*This classes are going to be used to move the cards*/
        .card-mover{
        position: relative;
        top: 20px;
        left: 20px;
        }

        .card-mover-2{

        position: relative;
        bottom: 500px;
        left: 490px;
        }

        .card-mover-3{
        position: relative;
        bottom: 1020px;
        left: 930px;
        }

 
        .card-mover {
            transition: transform 0.3s ease;
        }
        
        .card-mover-2 {
            transition: transform 0.3s ease;
        }
   
        .card-mover:hover {
            box-shadow: 1px 0.1px 15px rgb(0, 0, 0);
            background-color: rgb(255, 226, 61);
            transform: scale(1.1); /* Adjust the scaling factor as needed */
        }
        
        .card-mover-2:hover {
            box-shadow: 1px 0.1px 15px rgb(0, 0, 0);
            background-color: rgb(255, 226, 61);
            transform: scale(1.1); /* Adjust the scaling factor as needed */
        }

        .card-mover-3  {
          
            transition: transform 0.3s ease;

        }
        
        .card-mover-3:hover {
            box-shadow: 1px 0.1px 15px rgb(0, 0, 0);
            background-color: rgb(255, 226, 61);
            transform: scale(1.1); /* Adjust the scaling factor as needed */
        }
           /*The reason transition are used is to give more a popping effect to the cards and allow them standout
         when they are looked by sizing them up and using a 
         box shadow as well for extra appeal to improbe the overall look*/

  
        .text_header{
            margin-bottom: 4%;
            text-decoration: underline;
        }

        .card-button{

            border-radius: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 32%;
        }

        .card-button-2{
            border-radius: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 6%;
            margin-left: 32%;
        }

     
/*This classes are going to be used to move the cards*/

/*Claases/ids for cards*/

